<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="winlogon.aspx" name="adAuthCookie" timeout="10" path="/">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
  </system.web>
  <location path="winlogon.aspx">
    <system.webServer>
      <security>
        <authentication>
          <windowsAuthentication enabled="true">
            <providers>
              <clear />
              <add value="Negotiate" />
            </providers>
          </windowsAuthentication>
          <anonymousAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="formlogon.aspx">
    <system.web>
      <authorization>
        <allow users="?,*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="401Redirect.htm" responseMode="File" />
    </httpErrors>
  </system.webServer>
</configuration>